<a href="https://colab.research.google.com/github/Krishnakothagorla/python-new/blob/module1/Module_1_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Module1 programs**

In [ ]:
x=1
y=3.5
z=3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x=1
y=2.0
z=1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
str= "I like bikes"
print("bikes" in str)

True

## Accept input from user and store it in variable and print the value

In [ ]:
a=int(input("enter the value"))
print(a)

enter the value4
4

### Use of print statements and use of (.format )for printing different data types

In [ ]:
cost=1800
txt="the cost of the full tank petrol {}"
print(txt.format(cost))

the cost of the full tank petrol 1800

 ### Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (Same operations on floating point input as well)

In [ ]:
a=4
b=3
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

7
1
12
1.3333333333333333

### Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a=int(input("enter the value"))
b=a*60
print(b)

enter the value7
420

### Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [ ]:
import math
x=math.sqrt(81)
print(x)
import math
y=math.ceil(7.6)
print(y)
z=math.floor(7.6)
print(z)

9.0
8
7

### Building a mathematical calculator that can perform operations according to user input.Use decision making statement.

In [ ]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
4.0 / 2.0 = 2.0

In [ ]:
## Accepting 5 different subject marks from user and displaying the grade of the student